<div class="container-fluid text-center">
<h1>New Store</h1>

<%= form_for @store do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>

    <%= f.label :location %>
    <%= f.text_field :location %>
    <br>

    <%= f.submit%>
<% end %>
</div>